<form action="/" method="post">
<h1>Welcome to {{title}}</h1>
<p>Please enter your username: </p><input name="userName" type="text" value="">
<p>Please enter your password: </p><input name="userPwd" type="text" value="">
<button type="submit">Login</button>
</form>