body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



#login {
  border: solid 1px lightslategrey;
  width: 300px;
  height: auto:
  padding: 10px 10px;
}

#login * {
  padding: 0px 10px;
  margin: 5px 10px;
}
